<!DOCTYPE html>
<html class="h-100" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="#" rel="icon">
    <style>
        .btn-secondary,
        .btn-secondary:hover,
        .btn-secondary:focus {
            color: #333;
            text-shadow: none; /* Prevent inheritance from `body` */
        }

        body {
            text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
            box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
        }

        .cover-container {
            max-width: 42em;
        }
    </style>
</head>
<body class="d-flex h-100 text-center text-white bg-dark">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <main class="px-3 my-auto">
        <h1>Welcome To Joke App</h1>
        <p class="lead">Created using Spring Boot, Spring MVC</p>
        <p class="lead">
            <a href="/chuck-norris/joke" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Joke of the Day</a>
        </p>
    </main>

    <footer class="mt-auto text-white-50">
        <p>Made with <i class="bi bi-heart-fill"></i> by <a href="https://linkedin.com/in/saransh-kumar-2k19" class="text-white"> CryptoSingh1337</a>.</p>
    </footer>
</div>
</body>
</html>