<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="#" rel="stylesheet">
    <link href="#" rel="icon">
</head>
<body style="display: flex; align-items: center; justify-items: center">
    <h1 style="text-align: center">Welcome To Jokes App</h1><br>
    <a href="/chuck-norris/joke"><button>Random Joke - Chuck Norris</button></a>
</body>
</html>